 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>ABOUT US</h2>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2 about">
                    <p class="small">We are captivated by technology, dedicated to customers and share a relentless focus on results. We believe that power comes from simplifying the complex, that enterprise software should be beautiful, visually rich, and deliver the information that really matters. Most importantly, customer success is the centre of our universe. These traits, along with  decades of hands-on project management experience and process & system implementation, sit at the core of Emvisage.</p>
                </div>
                <div class="col-sm-4 about">
                    <p class="small">We have seen the frustration, risk and inefficiencies that take place when relying on spreadsheets and fragmented data to gain just a limited level of understanding. It can be an unsettling position for any business. Emvisage exists to tackle this issue – leaving visibility, clarity and confidence in its place. Our team blends deep experience, innovation and technology leadership. We believe we have the right mix to understand and support your business every step of the way and together, we can achieve great things.</p>
                </div>

            </div>
        </div>
    </section>
