<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--<img class="img-responsive" src="img/profile.png" alt="">-->
                <div class="intro-text">
                    <span class="name">VISIBILITY, CONFIDENCE, AGILITY</span>
                    <div class="undertext">
                        <span class="subtitle">Our cloud based solution helps organisations gain visibility and control in three key areas: Program Portfolio Management, process and approval workflow.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
