
<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>KEY AREAS</h3>
                <!--<div class="undertext">-->
                    <!--<p class="subtitle">Our cloud based solution helps organizations gain visibility and control in three key areas: Program Portfolio Management, process <br>and approval workflow.</p>-->
                <!--</div>-->
            </div>
        </div>
        <div class="row previews">
            <div class="col-sm-4">
                <i class="fa fa-cogs icon"></i>
                <div class="ppm-preview">
                    <span class="title">PPM</span>
                    <p>
                    Emvisage PPM provides visibility across the projects and programs in your business. Progress against milestones, the financial picture and consolidated status – all at your fingertips.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-share-alt icon"></i>
                <div class="ppm-preview">
                    <span class="title">Process</span>
                    <p>
                    At the heart Emvisage is a process enabler. Configure the tool to reflect your processes and make it easy for your team to execute consistently.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-unlock-alt icon"></i>
                <div class="approval-preview">
                    <span class="title">Approval</span>
                    <p>
                    Emvisage review & approval workflow makes governance clean, simple and efficient. Bring your teams together to collaborate while facilitating robust governance.</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <hr />
            </div>
            <br />
            <br />
            <div class="col-sm-12 text-center">
            <h3>BENEFITS</h3>
            <div class="col-sm-6 col-sm-offset-3 text-left benefits">
                <span class="title">Management visibilty</span>
                <p>Management benefit from a clear understanding of their projects, programs and processes coupled with the power to drill in and find the answers that matter.</p>
            </div>
            <div class="col-sm-6 col-sm-offset-3 text-left benefits">
                <span class="title">Agility to respond</span>
                <p> With a  real time finger on the pulse it’s easier to identify potential problems, areas for improvement and understand your flow of work.  No more struggling through meetings and spreadsheets. </p>
            </div>
            <div class="col-sm-6 col-sm-offset-3 text-left benefits">
                <span class="title">Making it easier for all users</span>
                <p>Emvisage was designed with simplicity and usability at the forefront.  We work closely with you to configure the system to   reflect your ogranisations unique  structure, terminology and processes. This configuration, or 'tailoring to fit' means that Emvisage slots smoothly into your business, making it straight forward for your team to understand and use.</p>
            </div>
            <div class="clearfix"></div>
            <div class="text-center page-scroll previews">
                <a href="#contact" class="btn btn-lg btn-outline">Request A Demo <i class="fa fa-caret-right"></i></a>
            </div>
        </div>

        <!--<div class="row">-->
        <!--{% for post in site.posts %}-->
        <!--<div class="col-sm-4 portfolio-item">-->
        <!--<a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">-->
        <!--<div class="caption">-->
        <!--<div class="caption-content">-->
        <!--<i class="fa fa-search-plus fa-3x"></i>-->
        <!--</div>-->
        <!--</div>-->
        <!--<img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">-->
        <!--</a>-->
        <!--</div>-->
        <!--{% endfor %}-->
        <!--</div>-->
    </div>
</section>
