/*!
 * Start Bootstrap - Freelancer Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    overflow-x: hidden;
}

p {
    font-size: 18px;
}

p.small {
    font-size: 16px;
}

p.very-small {
    font-size: 11px;
    color: #405973;
    -webkit-font-smoothing: antialiased;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #{{ site.color.primary }};
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-family: 'microsquareregular';*/
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'microsquareregular';
    src: url('css/microsquare/microsquare_regular-webfont.eot');
    src: url('css/microsquare/microsquare_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('css/microsquare/microsquare_regular-webfont.woff2') format('woff2'),
    url('css/microsquare/microsquare_regular-webfont.woff') format('woff'),
    url('css/microsquare/microsquare_regular-webfont.ttf') format('truetype'),
    url('css/microsquare/microsquare_regular-webfont.svg#microsquareregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'microsquarebold';
    src: url('microsquare-bold_30424-webfont.eot');
    src: url('microsquare-bold_30424-webfont.eot?#iefix') format('embedded-opentype'),
    url('microsquare-bold_30424-webfont.woff2') format('woff2'),
    url('microsquare-bold_30424-webfont.woff') format('woff'),
    url('microsquare-bold_30424-webfont.ttf') format('truetype'),
    url('microsquare-bold_30424-webfont.svg#microsquarebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #{{ site.color.primary }};
}

hr.star-primary {
    border-color: #{{ site.color.secondary }};
}

hr.star-primary:after {
    color: #{{ site.color.secondary }};
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}

header {
    text-align: center;
    color: #fff;
    /*background: #{{ site.color.primary }};*/
    /*background: linear-gradient(-179deg, #496a80 0%,#061728 100%);*/
    background: linear-gradient(-89deg, rgba(6, 23, 40, 1) 5%, rgba(73, 106, 128, 0.94) 45%, rgba(73, 106, 128, 0.94) 55%, rgba(6, 23, 40, 1) 95%), url('../img/approval.png') top center no-repeat;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}
header .intro-text {
    min-height: 240px;
}

header .subtext {
    max-width: 490px;
    display: block;
    margin: 0 auto;
    font-family: 'microsquareregular';
    /*text-shadow: 1px 1px #0E2132;*/
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
}


header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 3em;
    font-weight: 700;
    /*text-shadow: 1px 1px #0E2132;*/
    -webkit-font-smoothing: antialiased;
}

header .intro-text .skills {
    font-size: 23px;
    font-weight: 300;
    font-family: {{site.font}};
    -webkit-font-smoothing: antialiased;
}

@media(min-width:768px) {
    header .container {
        padding-top: 170px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 3em;
    }

    header .intro-text .skills {
        font-size: 23px;
    }
    .approval-preview {
        margin-left: 70px;
        margin-top: -60px;
    }

}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;

        -webkit-font-smoothing: antialiased;
      font-family: 'microsquareregular';
      font-weight: normal;
      letter-spacing: 2px;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
    .navbar-fixed-top.navbar-shrink .navbar-brand .emv-logo {
        transition-duration: .3s;
        transform: scale(0.7);
    }
}

.navbar {
    text-transform: uppercase;
    /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: 'microsquareregular', Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: black;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}
.navbar .navbar-brand {
    color: #2C3E50;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
    background-color: white;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    /*background: #{{ site.color.primary }};*/
    background-color: #1A242F;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }

    .approval-preview {
        margin-left: 90px;
        margin-top: -60px;
    }

    #portfolio .col-sm-4 {
        margin-bottom: 40px;
    }

    header {
        text-align: center;
        color: #fff;
/*background: #{{ site.color.primary }};*/
        /*background: linear-gradient(-179deg, #496a80 0%,#061728 100%);*/
        background: linear-gradient(-89deg, rgba(6, 23, 40, 1) 0%, rgba(73, 106, 128, 0.94) 25%, rgba(73, 106, 128, 0.94) 75%, rgba(6, 23, 40, 1) 100%), url('../img/approval.png') top center no-repeat;
    }
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #{{ site.color.primary }};
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1em;
    font-family:  {{site.font}}
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #{{ site.color.primary }};
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer h3 {
    margin-bottom: 15px;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #{{ site.color.secondary }};

}
footer .footer-above hr {
    border-top: 1px solid #38495A;
    margin: 10px 0;
}
footer .footer-above p {
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 15px 0;
    background-color: #{{ site.color.secondary-dark }};
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #{{ site.color.secondary }};
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #{{ site.color.secondary }};
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.emv-logo {
    margin-top: -37px;
    height: 87px;
}

.undertext {
    max-width: 600px;
    margin: 20px auto;
}

.subtitle {
    font-size: 20px;
    line-height: 1.7em;
    font-family: {{site.font}}, Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.icon {
    /*color: #{{ site.color.secondary-dark }};*/
    /*color: #526170;*/
    color: #1A242F;
    font-size: 60px;
}

.ppm-preview {
    margin-left: 90px;
    margin-top: -60px;
}

}

.navbar {
    text-transform: uppercase;
    /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: {{site.font}}, Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: black;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}
.navbar .navbar-brand {
    color: #2C3E50;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
    background-color: white;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    /*background: #{{ site.color.primary }};*/
    background-color: #1A242F;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #{{ site.color.primary }};
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #{{ site.color.primary }};
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer h3 {
    margin-bottom: 15px;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #{{ site.color.secondary }};

}
footer .footer-above hr {
    border-top: 1px solid #38495A;
    margin: 10px 0;
}
footer .footer-above p {
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 15px 0;
    background-color: #{{ site.color.secondary-dark }};
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #{{ site.color.secondary }};
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #{{ site.color.secondary }};
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.emv-logo {
  margin-top: -36px;
  height: 60px;
  position: relative;
  top: 18px;
}

.undertext {
    max-width: 600px;
    margin: 20px auto;
}

.subtitle {
    font-size: 20px;
    line-height: 1.7em;
    font-family: {{site.font}}, Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.icon {
    /*color: #{{ site.color.secondary-dark }};*/
    /*color: #526170;*/
    color: #1A242F;
    font-size: 60px;
}

.ppm-preview {
    margin-left: 90px;
    margin-top: -60px;
}



.ppm-preview p, .approval-preview p, .benefits p, .about p {
    font-size: 14px;
    margin-top: 5px;
    line-height: 1.6em;
    font-family: {{site.font}}, Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.benefits {
    margin-top: 40px;
}

span.title {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.previews {
    margin-top: 40px;
}

.previews .btn-outline, #contact .btn-outline {
    border-color: #{{site.color.secondary-dark}};
    color: #{{site.color.secondary-dark}};
    margin-top: 60px;
    font-size: 16px;
    font-family: {{site.font}}, Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 11px 27px;
}
.previews .btn-outline i.fa-caret-right {
    margin-left: 15px;
}

.previews .btn-outline:hover, #contact .btn-outline:hover {
    color: white;
    background-color: #{{site.color.secondary-dark}};
}

.previews .col-sm-4 {
    padding-left: 40px;
}

.form-contact {
    margin-top: 40px;
}

.navbar-toggle {
    background-color: #2C3E50;
}
